#updateGig{
    padding: 5%;
    color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(https://images.unsplash.com/photo-1591195854242-8804547cdcab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
}   